.encabezado-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
}
.container-Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-Center:nth-child(2){
    margin-top: 15px;
    font-size: 20px;
}

.contenedorMargen{
    margin-top: 60px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 20px;
}
#main-none{
display: none;
}